@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        background: #ffffff;
    }
}

.bottom_ {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,0.8309524493391106) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,0.8309524493391106) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,0.8309524493391106) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
}

@layer components {
  input,
  textarea {
    border: none;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0.3);
  }

  .noBG_:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0);
  }

  .Dressing_ {
    font-family: 'Roboto Slab', serif;
  }

  .PlayFair_ {
    font-family: 'Playfair Display', serif;
  }
}

html {
  scroll-behavior: smooth;
}