@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        background: #ffffff;
    }
}

.bottom_ {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,0.8309524493391106) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,0.8309524493391106) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,0.8309524493391106) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
}

@layer components {
  ._inter {
    font-family: "Inter", sans-serif;
  }

  ._monts {
    font-family: "Montserrat", sans-serif;
  }

  ._federo {
    font-family: "Federo", sans-serif;
  }

  ._oswald {
    font-family: "Oswald", sans-serif;
  }

  ._roboto {
    font-family: "Roboto Condensed", sans-serif;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: transparent;
  }

  .btn {
    /* border-radius: 50%; */
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow: 7px 7px 14px #634e4e84, -7px -7px 14px transparent;
  }

  .moduleShadow {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  .moduleShadow2 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .moduleShadow3 {
    box-shadow: rgba(50, 50, 93, 1) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 1) 0px 18px 36px -18px inset;
  }

  /* Disable text highlighting */
  .selector-for-highlight-disabled {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  @keyframes expandWidthAndFade {
    0% {
      width: 0%;
      opacity: 1;
    }
    90% {
      width: 100%;
      opacity: 1;
    }
    100% {
      width: 100%;
      opacity: 0;
    }
  }
  
  /* Apply the animation to the red div */
  .animate-expand-width-and-fade {
    animation-name: expandWidthAndFade;
  }
  
  @keyframes bounceHorizontal {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(3px); /* Adjust the distance as needed */
    }
  }

  input,
  textarea {
    border: none;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0.3);
  }

  .noBG_:focus {
    outline: none;
    background-color: rgb(0 0 0 / 0);
  }

  .Dressing_ {
    font-family: 'Roboto Slab', serif;
  }

  .PlayFair_ {
    font-family: 'Playfair Display', serif;
  }
}

html {
  scroll-behavior: smooth;
}